<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>web page</title>
    
  </head>
  <body>
  <div class="div2">
    <div id="main" data-aos="fade-right"  data-aos-duration="1500">
      <h1 class="c1" style="font-family: sans-serif;">Mobile App Devolopment</h1>
      <p class="c1">
        <i
          >Join Us The exciting world of programming and turn your ideas into
          reality.Unlock the world of endless possibilities-leran to code and
          shape the digital future with us</i
        >
      </p>
      <ol class="list2">
        <li class="ul1"><a href="/signin">Join Now</a></li>
        <li class="ul2" style="transition: 0.3s ease;"><a href="">Learn More</a></li>
      </ol>
    </div>  
     <img src="mobile.png" data-aos="fade-left"  data-aos-duration="1500"/>
    
  </div>
  
<!-- <div id="icons">
    <ul id="fl">
       <li id="follow">FOLLOW US ON :</li>
       <li id="i1" ><a href="https://www.facebook.com/"  ><i class="fa-brands fa-facebook"></i></a></li>
       <li id="i2" ><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
       <li id="i3" ><a href="https://x.com/"><i class="fa-brands fa-twitter"></i></a></li>
       <li id="i4"><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
       <li id="i5"><a href="https://github.com/login"><i class="fa-brands fa-github"></i></a></li>
    </ul>         
</div> -->
  </body>
</html>
