<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 data-aos="fade-right"  data-aos-duration="1500">Get To Know Us</h1>
    <hr><br>
    <div id="group" data-aos="fade-down"  data-aos-duration="1500">
        <div id="div1">
            <i class="fa-solid fa-people-group" style="height: 30px;"></i><br>
            <h3>Leadership</h3><br>
            <p>Our Multicultural Leaders Have deep StratUp And Enterprice With Rich Knowledge and Experience</p>
        </div>
        <div id="div2">
            <i class="fa-solid fa-arrow-up-right-dots" style="height: 30px;"></i><br>
            <h3>Careers</h3><br>
            <p>we Take Great Market Positon On Our Field.Thanks To Our Incridebly Talented Faculty's</p>
        </div>
        <div id="div3">
            <i class="fa-solid fa-handshake" style="height: 30px;"></i><br>
            <h3>Partnership</h3><br>
            <p>We Have Done More Partners Like 'Google','Microsoft',(etc)...</p>
        </div>
        <div id="div4">
            <i class="fa-solid fa-newspaper" style="height: 30px;"></i><br>
            <h3>Press</h3><br>
            <p>We are On The Front Most Trusted Platform For Learning</p>
        </div>
    </div>
    <footer>
        <div id="divgroup" data-aos="fade-right"  data-aos-duration="1500">
            <div id="div1">
                <h5 class="ttl"><i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp; Address &nbsp;</h5>
                <h5>No 2,Premier plaza <br>Contonement <br>Trichy <br> pin:621 301</h5>
            </div>
            <div id="div2">
                <h5 class="ttl"><i class="fa-regular fa-id-badge"></i> &nbsp;&nbsp;Contact Us &nbsp;</h5>
                <h5 style="padding-top:12px ;"><i class="fa-solid fa-phone"></i> &nbsp;Manager - 908989090 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa-solid fa-phone"></i> &nbsp;Quries - 8887776668 </h5>
                <h5><i class="fa-solid fa-building-circle-arrow-right"></i> &nbsp;Office - 9087654321 </h5>
                <h5><i class="fa-solid fa-envelope"></i> &nbsp;Mail us : Codingninja&#64;gmail.com</h5>
            </div>
            <div id="icons">
                <h6 id="follow"><i class="fa-solid fa-user-plus"></i> &nbsp;FOLLOW US ON </h6>
                <ul id="fl">
                   
                    <li id="i1" ><a href="https://www.facebook.com/"  ><i class="fa-brands fa-facebook"></i></a></li>
                    <li id="i2" ><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
                    <li id="i3" ><a href="https://x.com/"><i class="fa-brands fa-twitter"></i></a></li>
                    <li id="i4"><a href="https://www.youtube.com/"><i class="fa-brands fa-youtube"></i></a></li>
                    <li id="i5"><a href="https://github.com/login"><i class="fa-brands fa-github"></i></a></li>
                 </ul>     
            </div>
        </div>
    </footer>
    
</body>
</html>
